@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scroll: 0;
    --left-sidebar-width: 0px;
    --right-sidebar-width: 0px;
    --panel-width: 0px;
    --main-panel-width: 0px;
    --content-max-width: 1955px;
    --top-bar-opacity: 0;
    --overlay-opacity: 0;
    --item-height: 48px;
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
    --spotify-bg-base: #1ed760;
    --spotify-bg-highlight: #1fdf64;
    --spotify-bg-press: #169c46;
    --spotify-bg-elevated-base: #1fdf64;
    --spotify-bg-elevated-highlight: #1fdf64;
    --spotify-bg-elevated-press: #169c46;
    --spotify-bg-tinted-base: #1ed760;
    --spotify-bg-tinted-highlight: #1ed760;
    --spotify-bg-tinted-press: #1ed760;
    --spotify-text-base: #000;
    --spotify-text-inverted: #fff;

    --content-spacing: clamp(
      16px,
      16px +
        (
          100vw - var(--left-sidebar-width, 0px) - var(--panel-width, 0px) -
            600px
        )/424 * 8,
      24px
    );
    --fluid-height: clamp(
      250px,
      250px +
        (
          100vw - var(--left-sidebar-width, 0px) - var(--panel-width, 0px) -
            600px
        )/424 * 150,
      400px
    );
    --min-fluid-height: clamp(
      250px,
      250px +
        (
          100vw - var(--left-sidebar-width, 0px) - var(--panel-width, 0px) -
            600px
        )/424 * 90,
      340px
    );
    --min-fluid-height-large-header: clamp(
      280px,
      280px +
        (
          100vw - var(--left-sidebar-width, 0px) - var(--panel-width, 0px) -
            600px
        )/424 * 60,
      340px
    );
    --top-bar-z-index: 1;
    --random-color: rgb(0, 0%, 7.06%, 1);
    --slider-track: hsla(0, 0%, 100%, 0.3);
    --slider-thumb: hsl(0, 0%, 100%);
    --slider-range: hsl(0, 0%, 100%);
    --slider-range-active: #1db954;
    --panel-gap: 8px;
    --background-noise: url('/_next/static/media/bg-noise.75603ce7.svg');
    --radius: 0.5rem;
    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(142.4 71.8% 29.2%);
    --spotify: #1db954;
    --base: #000;
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(240 5.9% 10%);
    --foreground: 0 0% 100%;
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0, 0%, 100%, 0.07);
    --background-tinted-highlight: hsla(0, 0%, 100%, 0.1);
    --background-tinted-press: hsla(0, 0%, 100%, 0.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: hsl(0 84.2%, 60.2%);
    --essential-negative-base: hsla(354, 84%, 50%, 0.65);
    --essential-negative-border: hsla(354, 84%, 50%, 1);
    --essential-negative-press: hsla(354, 84%, 50%, 0.7);
    --essential-negative-hover: hsla(354, 84%, 50%, 0.8);
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
  }

  .dark {
    --radius: 0.5rem;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0, 0%, 100%, 0.07);
    --background-tinted-highlight: hsla(0, 0%, 100%, 0.1);
    --background-tinted-highlight-2: hsla(0, 0%, 100%, 0.2);
    --background-tinted-highlight-3: hsla(0, 28%, 26%, 0.2);
    --background-tinted-press: hsla(0, 0%, 100%, 0.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: hsl(0 84.2%, 60.2%);
    --essential-negative-base: hsla(354, 84%, 50%, 0.65);
    --essential-negative-border: hsla(354, 84%, 50%, 1);
    --essential-negative-press: hsla(354, 84%, 50%, 0.7);
    --essential-negative-hover: hsla(354, 84%, 50%, 0.8);
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;

    --spotify-bg-base: #1ed760;
    --spotify-bg-highlight: #1fdf64;
    --spotify-bg-press: #169c46;
    --spotify-bg-elevated-base: #1fdf64;
    --spotify-bg-elevated-highlight: #1fdf64;
    --spotify-bg-elevated-press: #169c46;
    --spotify-bg-tinted-base: #1ed760;
    --spotify-bg-tinted-highlight: #1ed760;
    --spotify-bg-tinted-press: #1ed760;
    --spotify-text-base: #000;
    --spotify-text-inverted: #fff;

    --inverted-bg-base: #fff;
    --inverted-bg-highlight: #f6f6f6;
    --inverted-bg-press: #b7b7b7;
    --inverted-bg-elevated-base: #f6f6f6;
    --inverted-bg-elevated-highlight: #f6f6f6;
    --inverted-bg-elevated-press: #b7b7b7;
    --inverted-bg-tinted-base: #fff;
    --inverted-bg-tinted-highlight: #fff;
    --inverted-bg-tinted-press: #fff;
    --inverted-bg-unsafe-for-small-text-base: #fff;
    --inverted-bg-unsafe-for-small-text-highlight: #fff;
    --inverted-bg-unsafe-for-small-text-press: #fff;

    --inverted-text-base: #000;
    --inverted-text-subdued: #5e5e5e;
    --inverted-text-bright-accent: #12833a;
    --inverted-text-negative: #000;
    --inverted-text-warning: #000;
    --inverted-text-positive: #12833a;
    --inverted-text-announcement: #000;

    --announcement-bg-base: #0d72ea;
    --announcement-bg-highlight: #0c6ddf;
    --announcement-bg-press: #084791;
    --announcement-bg-elevated-base: #0c6ddf;
    --announcement-bg-elevated-highlight: #0c6ddf;
    --announcement-bg-elevated-press: #084791;
    --announcement-bg-tinted-base: #0d72ea;
    --announcement-bg-tinted-highlight: #0d72ea;
    --announcement-bg-tinted-press: #0d72ea;
    --announcement-bg-unsafe-for-small-text-base: #0d72ea;
    --announcement-bg-unsafe-for-small-text-highlight: #0d72ea;
    --announcement-bg-unsafe-for-small-text-press: #0d72ea;

    --announcement-text-base: #fff;
    --announcement-text-subdued: #fff;
    --announcement-text-bright-accent: #fff;
    --announcement-text-negative: #fff;
    --announcement-text-warning: #fff;
    --announcement-text-positive: #fff;
    --announcement-text-announcement: #fff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
  }

  body {
    @apply max-h-screen min-h-screen w-screen overflow-hidden bg-background text-foreground;
    /* @apply overflow-y-scroll; */
    -webkit-font-smoothing: antialiased;
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }
}

/* HELPERS */
@layer base {
  .content-spacing {
    @apply py-0 pl-[var(--content-spacing)] pr-[var(--content-spacing)];
  }

  .under-header {
    @apply visible relative -mt-16 block h-full w-full;
    direction: inherit;
  }

  .full-size-absolute {
    @apply absolute left-0 top-0 block h-full w-full;
  }
  .bg-scroll-cover {
    @apply h-[40vh] min-h-[var(--min-fluid-height)] bg-cover bg-scroll bg-[50%_15%] bg-no-repeat;
    contain: strict;
    content-visibility: auto;
  }
}

@layer base {
  .main-container {
    @apply relative flex min-h-0 w-full flex-col overflow-hidden rounded-lg bg-[color:var(--background-base)];
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    grid-area: main-view;
    content-visibility: auto;
  }
  .main-view-container {
    @apply relative min-h-0 flex-1;
  }
  .main-view-container__host,
  .host {
    @apply relative h-full flex-col flex-nowrap content-start items-start justify-start overflow-hidden;
  }
  .main-view-container__resize-observer-host,
  .resize-observer-host {
    @apply pointer-events-none invisible absolute left-0 top-0 z-[-1] box-border block h-full w-full overflow-hidden border-solid border-[inherit] border-transparent p-[inherit];
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
  }
  .main-view-container__resize-observer-host.observed,
  .resize-observer-host.observed {
    @apply flex flex-col items-start justify-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .main-view-container__resize-observer,
  .resize-observer {
    @apply pointer-events-none invisible absolute left-0 top-0 z-[-1] block h-full w-full overflow-hidden;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-animation-duration: 1ms;
    animation-duration: 1ms;
    -webkit-animation-name: os-resize-observer-dummy-animation;
    animation-name: os-resize-observer-dummy-animation;
  }
  .main-view-container__resize-observer-host.observed
    .main-view-container__resize-observer,
  .resize-observer-host.observed .resize-observer {
    @apply relative order-[inherit] m-0 box-border box-content block flex h-[200%] w-[200%] shrink-0 grow basis-auto p-[inherit];
  }
  .main-view-container__resize-observer-host.observed
    .main-view-container__resize-observer::before,
  .resize-observer-host.observed .resize-observer::before {
    @apply relative m-0 box-border box-content flex shrink-0 grow basis-auto border-[inherit] p-[inherit] content-[''];
  }
  .main-view-container__padding,
  .padding {
    @apply absolute inset-0 z-0 m-0 h-auto w-auto overflow-hidden p-0;
    direction: inherit;
    transform: translateZ(0);
  }
  .main-view-container__viewport,
  .viewport {
    @apply absolute inset-0 m-0 resize-none overflow-y-scroll p-0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
    direction: inherit !important;
    outline: none !important;
  }
  .main-view-container__content,
  .content {
    @apply visible relative block h-full w-full p-0;
    direction: inherit;
  }
  .main-view-container__content:before,
  .main-view-container__content:after,
  .content:before,
  .content:after {
    @apply invisible table h-[0.01px] w-[0.01px] shrink-0 grow-0 text-[0] leading-[0] content-[''];
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -ms-flex-negative: 0;
  }
  .main-view-container__scroll-spacer,
  .scroll-spacer {
    @apply sticky top-0 h-16;
  }
  .main-view-container__scroll-spacer-child,
  .scroll-spacer-child {
    @apply isolate min-h-[calc(100vh_-_673px)] scroll-smooth pb-8;
  }
}

/* LAYOUT */
@layer components {
  .main-layout {
    @apply relative grid h-screen max-h-screen min-h-full w-full grid-cols-[auto_1fr] grid-rows-[1fr_auto] gap-[var(--panel-gap)] pb-[var(--panel-gap)] pl-[var(--panel-gap)] pr-[var(--panel-gap)] pt-[var(--panel-gap)];
    --main-view-top-bar-grid-area-z-index: 5;
    --left-sidebar-grid-area-z-index: 4;
    --above-everything-except-now-playing-bar-z-index: 5;
    --above-main-and-now-playing-view-grid-area: 6;
    --now-playing-bar-grid-area-z-index: calc(
      var(--above-everything-except-now-playing-bar-z-index) + 1
    );
    grid-template-areas:
      'main-view main-view main-view'
      'main-view main-view main-view'
      'now-playing-bar now-playing-bar now-playing-bar';
  }

  .main-area {
    @apply relative z-[var(--main-view-top-bar-grid-area-z-index)] overflow-hidden bg-card;
    grid-area: main-view;
  }

  .now-playing-bar {
    @apply z-[var(--now-playing-bar-grid-area-z-index)] overflow-hidden rounded-lg;
    grid-area: now-playing-bar;
  }
}

/* RANDOM STYLING */
@layer components {
  svg.lucide.lucide-check-circle2.text-black.fill-bright-accent circle {
    @apply text-[color:var(--text-bright-accent)];
  }
  svg.lucide.lucide-badge-check.text-black.fill-bright-accent
    path:first-of-type {
    @apply text-[color:var(--text-announcement)];
  }

  .unauthorized-bg {
    @apply bg-[-webkit-gradient(_linear,left_top,right_top,from(#af2896),to(#509bf5)_)] bg-[linear-gradient(90deg,#af2896,#509bf5)];
  }

  .background-fade {
    @apply transition-[background] duration-1000;
    @apply bg-gradient-to-t from-card from-40% to-neutral-500/40 to-100%;
    @apply absolute left-0 top-9 z-[-1] mt-[-64px] h-80 w-full;
  }

  .background-noise {
    @apply bg-[linear-gradient(transparent_0,hsl(0deg_0%_0%_/_70%)_100%),var(--background-noise)];
  }
  .image-fade {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(0, 0, 0, 0.5))
      ),
      var(--background-noise);
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
      var(--background-noise);
  }
  .faade {
    @apply absolute z-[-1] h-[232px] w-full bg-[-webkit-gradient(_linear,left_top,left_bottom,from(rgba(0,0,0,0.4)),to(var(--background-base))_),var(--background-noise)] bg-[linear-gradient(_rgba(0,0,0,0.6)_0,var(--background-base)_100%_),var(--background-noise)];
  }
}

@layer components {
  .page-header {
    @apply h-[min(30vh,var(--fluid-height))] max-h-[400px] min-h-[var(--min-fluid-height)] pb-[var(--content-spacing)];
  }

  .page-header-image {
    @apply h-[clamp(_128px,128px_+_(_100vw_-_var(--left-sidebar-width,0px)_-_var(--panel-width,0px)_-_600px_)/424_*_104,232px_)] w-[clamp(_128px,128px_+_(_100vw_-_var(--left-sidebar-width,0px)_-_var(--panel-width,0px)_-_600px_)/424_*_104,232px_)] rounded;
  }
}

/* HEADER */

@layer components {
  .header {
    @apply absolute z-[var(--top-bar-z-index)] flex h-16 w-full items-center justify-between gap-2 py-4 pl-[var(--content-spacing)] pr-[var(--content-spacing)] before:absolute before:left-0 before:top-0 before:z-[-2] before:h-full before:w-full before:bg-[color:var(--random-color)] before:opacity-[var(--top-bar-opacity,0)] before:content-[''] after:absolute after:left-0 after:top-0 after:z-[-1] after:h-full after:w-full after:bg-[rgba(0,0,0,0.6)] after:opacity-[var(--top-bar-opacity,0)] after:content-[''];
    -webkit-padding-end: var(--content-spacing);
    contain: layout;
    display: -webkit-box;
    display: -ms-flexbox;
    padding-inline-end: var(--content-spacing);
  }

  /* .header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    opacity: var(--top-bar-opacity, 0);
    height: 100%;
    background-color: var(--random-color);
  }

  .header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: var(--top-bar-opacity, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  } */
}

/* HERO */

@layer components {
  .hero {
    @apply max-h-80 min-h-[320px] w-full pb-[var(--content-spacing)];
  }
  .hero-image-container {
    @apply z-0 mr-[var(--content-spacing)] h-48 h-[clamp(_128px,128px_+_(_100vw_-_var(--left-sidebar-width,0px)_-_var(--panel-width,0px)_-_600px_)/424_*_104,232px_)] w-48 w-[clamp(_128px,128px_+_(_100vw_-_var(--left-sidebar-width,0px)_-_var(--panel-width,0px)_-_600px_)/424_*_104,232px_)] shrink-0 items-end self-end rounded;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-flex-item-align: end;
    -ms-flex-negative: 0;
  }
  .hero-banner-noise:after {
    @apply absolute inset-x-0 h-[40vh] min-h-[340px] bg-[-webkit-gradient(_linear,left_top,left_bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6))_),-webkit-gradient(linear,left_top,left_bottom,from(var(--random-color)),to(var(--random-color)))] bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),linear-gradient(var(--random-color),var(--random-color))] opacity-[var(--top-bar-opacity)] content-[''];
  }
  .hero-banner-image {
    @apply scale-110 animate-[background-animation_1s_linear] overflow-hidden opacity-100;
    -webkit-animation-delay: calc(var(--scroll) * -1s);
    animation-delay: calc(var(--scroll) * -1s);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  .hero-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    /* font-size: clamp(36px, 10vw, 54px); */
  }
  .hero-description {
    @apply text-[hsla(0,0%,100%,0.7)];
  }
  .hero-description a {
    @apply text-[white];
  }
  .hero-text-container {
    @apply z-0 flex flex-1 justify-end;
    flex-flow: column;
  }

  .tracks-image svg {
    fill: white;
  }
}

@layer components {
  .artist-top-items {
    @apply mb-10 mt-2 grid min-w-[var(--min-container-width)] grid-cols-[repeat(var(--column-count),minmax(0,1fr))] gap-[var(--grid-gap)];
  }

  .artist-top-items__tracks {
    grid-row: span 3;
    grid-column: span min(var(--column-count), 6);
  }
}

@layer components {
  .card-section {
    @apply -order-1;
    @apply relative space-y-2;
    @apply flex min-h-11 flex-1 basis-full flex-col;
    container-type: normal;
  }

  @media screen and (min-width: 1599px) {
  }

  @media screen and (min-width: 1599px) {
  }

  .card-section__row .card-section__items {
    grid-template: auto/repeat(
      auto-fill,
      minmax(max(var(--min-col-width), 25%), 1fr)
    );
    @apply grid auto-rows-[var(--item-height)] grid-rows-[var(--item-height)] gap-2;
    @apply grid-cols-[repeat(2,1fr)] @3xl:grid-cols-[repeat(3,1fr)];
  }

  .card-section__items-row .card-item-image {
    @apply min-h-[var(--item-height)] min-w-[var(--item-height)];
  }

  .card-section__column .card-section__items {
    @apply grid min-w-[var(--min-container-width)] auto-rows-[0] grid-cols-[repeat(var(--column-count),minmax(0,1fr))] grid-rows-[1fr] gap-[var(--grid-gap)];
  }

  .display-all .card-section__column .card-section__items {
    @apply auto-rows-[auto];
  }

  .card-section__items-row .card-section__item {
    @apply relative h-[var(--item-height)] overflow-hidden rounded bg-[color:var(--background-tinted-base)] transition-[background-color] duration-300 ease-in-out;
    container-type: size;
  }
  .card-section__column .card-section__browse-items {
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    gap: 12px;
    grid-template-rows: 1fr;
  }
}

/* TRACK LIST */

@layer components {
  .track-list {
    @apply rounded border border-solid border-transparent;
    outline: none;
  }
  .track-list-heading {
    --heading-bar-opacity: 0;
    @apply sticky top-[63px] z-[2] box-content h-9 border-b border-solid border-b-transparent py-0 pl-[var(--content-spacing)] pr-[var(--content-spacing)] before:absolute before:left-0 before:top-0 before:z-[-1] before:h-full before:w-full before:border-b before:border-solid before:border-b-[hsla(0,0%,100%,0.1)] before:opacity-[var(--heading-bar-opacity,0)] before:shadow-[0_-1px_0_0_#181818] before:content-[''];
    -webkit-box-sizing: content-box;
    margin: 0 calc(var(--content-spacing) * -1)
      calc(var(--content-spacing) - 8px);
  }
  .track-list-heading:before {
    background: var(--background-highlight);
    -webkit-box-shadow: 0 -1px 0 0 #181818;
  }
  .track-list__grid-container {
    @apply grid h-[var(--row-height)] gap-4 px-4 py-0;
  }
  .track-list__body {
    @apply relative;
    contain: layout size;
    --row-height: 56px;
    /* padding: 0 16px; */
  }
  .track-list__body-container {
    @apply absolute w-full;
    /* pointer-events: none; */
  }
  .track-list__grid.heading {
    @apply h-9 border-b border-solid border-b-[hsla(0,0%,100%,0.1)];
    @apply text-subdued-foreground;
    --row-height: 36px;
  }

  .track-list[aria-colcount='2'] .track-list__grid-container {
    grid-gap: 16px;
    display: grid;
    padding: 0 16px;
    grid-template-columns: [index] minmax(120px, var(--col0, 4fr)) [last] minmax(
        120px,
        var(--col1, 1fr)
      );
    border: 1px solid transparent;
    border-radius: 4px;
    height: var(--row-height);
    position: relative;
    /* @apply grid-cols-[[index]_minmax(120px,var(--col0,48fr))_[var1]_minmax(_120px,var(--col1,29fr)_)_[var2]_minmax(120px,var(--col2,23fr))_[last]_minmax(120px,var(--col3,1fr))]; */
  }

  .track-list[aria-colcount='2'] .track-list__grid-container {
    grid-gap: 16px;
    display: grid;
    padding: 0 16px;
    grid-template-columns: [index] minmax(120px, var(--col0, 4fr)) [last] minmax(
        120px,
        var(--col1, 1fr)
      );
    border: 1px solid transparent;
    border-radius: 4px;
    height: var(--row-height);
    position: relative;
    /* @apply grid-cols-[[index]_minmax(120px,var(--col0,48fr))_[var1]_minmax(_120px,var(--col1,29fr)_)_[var2]_minmax(120px,var(--col2,23fr))_[last]_minmax(120px,var(--col3,1fr))]; */
  }

  .track-list[aria-colcount='3'] .track-list__grid-container {
    @apply grid-cols-[[index]_var(--tracklist-index-column-width,16px)_[first]_minmax(120px,var(--col1,4fr))_[last]_minmax(120px,var(--col2,1fr))];
  }

  .track-list[aria-colcount='4'] .track-list__grid-container {
    @apply grid-cols-[[index]_var(--tracklist-index-column-width,16px)_[first]_minmax(120px,var(--col1,4fr))_[var1]_minmax(120px,var(--col2,2fr))_[last]_minmax(120px,var(--col3,1fr))];
    /* @apply grid-cols-[[index]_minmax(120px,var(--col0,48fr))_[var1]_minmax(_120px,var(--col1,29fr)_)_[var2]_minmax(120px,var(--col2,23fr))_[last]_minmax(120px,var(--col3,1fr))]; */
  }
  .track-list[aria-colcount='5'] .track-list__grid-container {
    @apply grid-cols-[[index]_var(--tracklist-index-column-width,16px)_[first]_minmax(_120px,var(--col1,6fr)_)_[var1]_minmax(120px,var(--col2,4fr))_[var2]_minmax(_120px,var(--col3,3fr)_)_[last]_minmax(120px,var(--col4,1fr))];
    /* grid-template-columns: repeat(5, 1fr); */
  }
  .track-list__grid-item {
    @apply flex items-center;
    /* grid-column: last; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .track-list__grid-item[aria-colindex='1'] {
    @apply col-[index];
  }

  .track-list__grid-item[aria-colindex='1'].track-index {
    @apply col-[index] justify-self-end;
    @apply flex items-center;
  }

  .track-index .track-index__container {
    @apply relative inline-block h-4 min-h-[16px] w-[var(--tracklist-index-column-width,16px)] min-w-[16px] text-subdued;
  }

  .track-index__number {
    @apply pointer-events-none absolute -top-1 right-[0.25em] font-normal;
    font-variant: tabular-nums;
  }

  .track-list[aria-colcount='2'] .track-list__grid-item[aria-colindex='2'],
  .track-list[aria-colcount='3'] .track-list__grid-item[aria-colindex='3'],
  .track-list[aria-colcount='4'] .track-list__grid-item[aria-colindex='4'],
  .track-list[aria-colcount='5'] .track-list__grid-item[aria-colindex='5'] {
    @apply col-[last] justify-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  }
}

@layer utilities {
  @keyframes os-resize-observer-dummy-animation {
    from {
      cursor: auto;
    }
    to {
      opacity: none;
    }
  }

  @keyframes overlay-animation {
    20% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes background-animation {
    80% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }

  .scroll-area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    /* scroll-padding-right: 8px; */
  }

  .scroll-area::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
