@tailwind components;

@layer components {
  .hero {
    max-height: 320px;
    min-height: 320px;
    width: 100%;
    padding-bottom: var(--content-spacing) !important;
    /* --fluid-height: clamp(250px,250px + (100vw - var(--left-sidebar-width,0px) - var(--panel-width,0px) - 600px)/424*150,400px);
    --min-fluid-height: clamp(250px,250px + (100vw - var(--left-sidebar-width,0px) - var(--panel-width,0px) - 600px)/424*90,340px);
    --min-fluid-height-large-header: clamp(280px,280px + (100vw - var(--left-sidebar-width,0px) - var(--panel-width,0px) - 600px)/424*60,340px); */
  }

  .hero-image-container {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-flex-item-align: end;
    -ms-flex-negative: 0;
    align-items: flex-end;
    align-self: flex-end;
    flex-shrink: 0;
    height: 192px;
    width: 192px;
    z-index: 0;
    border-radius: 4px;
    height: clamp(
      128px,
      128px +
        (
          100vw - var(--left-sidebar-width, 0px) - var(--panel-width, 0px) -
            600px
        )/424 * 104,
      232px
    );
    width: clamp(
      128px,
      128px +
        (
          100vw - var(--left-sidebar-width, 0px) - var(--panel-width, 0px) -
            600px
        )/424 * 104,
      232px
    );

    margin-right: var(--content-spacing);
  }

  .full-size-absolute {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .bg-scroll-cover {
    background-attachment: scroll;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    contain: strict;
    content-visibility: auto;
    height: 40vh;
    min-height: var(--min-fluid-height);
  }

  .hero-banner-noise:after {
    /* -webkit-animation: overlay-animation 1s linear;
    animation: overlay-animation 1s linear;
    -webkit-animation-delay: calc(var(--scroll) * -1s);
    animation-delay: calc(var(--scroll) * -1s);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; */
    background-image:
      -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.6)),
        to(rgba(0, 0, 0, 0.6))
      ),
      -webkit-gradient(linear, left top, left bottom, from(var(--random-color)), to(var(--random-color)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      linear-gradient(var(--random-color), var(--random-color));
    content: '';
    height: 40vh;
    left: 0;
    min-height: 340px;
    opacity: var(--top-bar-opacity);
    position: absolute;
    right: 0;
  }

  .hero-banner-image {
    overflow: hidden;

    -webkit-animation: background-animation 1s linear;
    animation: background-animation 1s linear;
    -webkit-animation-delay: calc(var(--scroll) * -1s);
    animation-delay: calc(var(--scroll) * -1s);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .hero-banner-image-noise {
  }

  .hero-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .hero-description {
    color: hsla(0, 0%, 100%, 0.7);
  }

  .hero-description a {
    color: white;
  }

  .hero-text-container {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-flow: column;
    flex-flow: column;
    justify-content: flex-end;
    z-index: 0;
  }
}
