@layer components {
  .track-list {
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
  }

  .track-list-heading {
    border-bottom: 1px solid transparent;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 36px;
    margin: 0 calc(var(--content-spacing) * -1)
      calc(var(--content-spacing) - 8px);
    padding: 0 var(--content-spacing);
    position: sticky;
    z-index: 2;
    top: 63px;
  }

  .track-list-heading:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    opacity: var(--top-bar-opacity, 0);
    height: 100%;
    background: var(--background-highlight);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    -webkit-box-shadow: 0 -1px 0 0 #181818;
    box-shadow: 0 -1px 0 0 #181818;
  }

  .track-list__grid-container {
    grid-gap: 16px;
    display: grid;
    padding: 0 16px;
  }

  .track-list__body {
    contain: layout size;
    position: relative;
    --row-height: 56px;
    /* padding: 0 16px; */
  }

  .track-list__body-container {
    /* pointer-events: none; */
    position: absolute;
    width: 100%;
  }

  .track-list__grid.heading {
    @apply text-subdued-foreground;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    height: 36px;
    --row-height: 36px;
  }

  .track-list__grid-container {
    height: var(--row-height);
  }

  .track-list[aria-colcount='4'] .track-list__grid-container {
    grid-template-columns:
      [index] minmax(120px, var(--col0, 48fr)) [var1] minmax(
        120px,
        var(--col1, 29fr)
      )
      [var2] minmax(120px, var(--col2, 23fr)) [last] minmax(120px, var(--col3, 1fr));
  }

  .track-list[aria-colcount='5'] .track-list__grid-container {
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns:
      [index] var(--tracklist-index-column-width, 16px) [first] minmax(
        120px,
        var(--col1, 6fr)
      )
      [var1] minmax(120px, var(--col2, 4fr)) [var2] minmax(
        120px,
        var(--col3, 3fr)
      )
      [last] minmax(120px, var(--col4, 1fr));
  }

  .track-list__grid-item {
    /* grid-column: last; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .track-list__grid-item[aria-colindex='1'] {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    grid-column: index;
    justify-content: flex-start;
  }

  .track-list[aria-colcount='4'] .track-list__grid-item[aria-colindex='4'],
  .track-list[aria-colcount='5'] .track-list__grid-item[aria-colindex='5'] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    grid-column: last;
    justify-content: flex-end;
  }
}
